@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    height: 100vh;
    padding-left: 2rem; /* Add padding to move the text slightly from the edge */
    background-color: #111124;
    overflow: hidden; /* Prevent scrolling */
}

.container1 {
    display: flex;
}

.letter {
    position: relative;
    background: none;
    color: #303030;
    font-size: 5rem;
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    transition: transform 0.5s ease; 
}

.container1 .letter:nth-child(1) {
    margin-left: 120px; /* Adjust as needed */
}

#c {
    animation: flicker-c_2 12s infinite forwards;
}

#u {
    animation: color-change 10s infinite forwards;
    position: relative;
}

#u::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: #f84aa7;
    border-radius: 50%;
    filter: blur(2em);
    opacity: 0;
    animation: color-change 12.3s infinite linear, change-op 10s infinite linear;
}

#u::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 2%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 2em;
    border-radius: 1em;
    background: radial-gradient(#111124 30%, #f84aa7, #ffc8e6);
    transform: perspective(1em) rotateX(80deg);
    filter: blur(5px);
    animation: change-op 10s infinite linear;
}

#a {
    animation: flicker-a 12s infinite linear;
}

#l {
    animation: flicker-l 12s infinite linear;
}

#c {
    animation: flicker-c 12s infinite linear;
}

#l {
    animation: flicker-l_2 12s infinite linear;
}

#a {
    animation: flicker-a 12s infinite linear;
}

#t {
    animation: flicker-t 12s infinite linear;
}

#o {
    animation: flicker-o 12s infinite linear;
}

#r {
    animation: flicker-r 12s infinite linear;
}

@keyframes flicker-c {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(90deg, #ffb8de, #272727);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-a {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffb8de, #272727);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-l {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffb8de, #272727);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-c_2 {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffb8de, #272727);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-l_2 {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffaed99f, #181818);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-t {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffaed99f, #181818);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-o {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffaed99f, #181818);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes flicker-r {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        background: #303030;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        background: linear-gradient(-90deg, #ffaed99f, #181818);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes change-op {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        opacity: 0;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        opacity: 1;
    }
}

@keyframes color-change {
    0%, 4%, 6%, 9%, 11%, 29%, 54%, 56%, 76%, 78%, 89%, 91%, 93%, 95%, 100% {
        color: #303030;
        text-shadow: none;
    }
    5%, 10%, 30%, 40%, 55%, 77%, 90%, 92%, 94% {
        color: white;
        text-shadow: 0 0 5px #f84aa7, 0 0 10px #f84aa7, 0 0 15px #f84aa7, 0 0 20px #f84aa7;
    }
}

.wrapper {
  display: grid;
  height: 600px;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.container {
  width: 425px;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 40px;
  background-color: #000000;
  margin: 0 auto;
  margin-right:70px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.inputArea {
  background-color: #5b6d7c;
  padding: 10px;
  display: flex;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  background-color: rgb(218, 216, 216);
  text-align: right;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 8px;
}

input[type="text"]:disabled {
  color: #000000;
}

.btnr1, .btnr2 {
  text-align: center;
}

.btnr1 input, .btnr2 input {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  font-size: 1.5em;
  background: transparent;
  cursor: pointer;
}

.btnr1 {
  background: #25292c;
}

.btnr2 {
  background: #13171d;
}

.btnC input {
  color: #067c76 !important;
}

footer {
    background: transparent;
    color: #FFFFFF;
    padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
